<html>
<head>
<title></title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
<script type ="text/javascript">
</script>
<style type="text/css">
    .hidden { display:none; }
</style>
</head>
<body>
    <div class="error"></div>
    <div class = "container">
        <form id = "start_action">
            <input type="submit" value="Start" name="">
        </form>
        <p>Conversation Board</p>
        <div id = "message_board">
        </div>
        <form id = "new_message">
            <input type="text" id="message" placeholder="Enter Your Message">
            <input type="submit" value="submit" name="">
        </form>
    </div>
    <div id="app"></div>
</body>
<script type="text/javascript" src="/js/bundle.js"></script>
</html>


