<html>
<head>
<title></title>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
<script type ="text/javascript">
$(document).ready(function (){
    const socket = io.connect();
    let user;
    let playerPosition;
    // 0 is small
    // 1 is big
    var new_user = function() {
        var name = prompt("Please enter your name");
        // var buyin = prompt("Please enter your buy-in")
        socket.emit("page_load", {
            name,
            buyin: 20
        }); 
    }
    new_user();
    socket.on('existing_user', function(data) {
        $('.error').html(data.error);
        new_user();
    });
    socket.on('initiate_player', function(data) {
        $('.error').html("")
        user = data.user;
        console.log(user.action);
        var messages = data.messages;
        var messages_thread = '';
        for(var i = 0; i < messages.length; i++) {
            messages_thread += "<p>" + messages[i].name + ": " + messages[i].message + "</p>";
        }
        $('#message_board').append(messages_thread);
    });



    $('#new_message').submit(function() {
        socket.emit('new_message', {
            user,
            message: $('#message').val()
        })
        return false;
    });
    socket.on('post_new_message', function(data) {
        console.log(user)
        $('#message_board').append("<p>" + data.user + ": " + data.new_message + "</p>");
    });

    $('#start_action').submit(function() {
        socket.emit('start_action', { user })
        $(this).hide();
        return false;
    });
    socket.on('dealt_cards', function(data) {
        let position = -1;
        // data.players;
        for(let item of data.players) {
            position++;
            if(item.name === user.name) {
                user = item;
                playerPosition = position;
            }
        }
        console.log(user);
        if(playerPosition === 2 && data.players.length > 2) {
            var action = prompt('What is your move?');
            var amount = 0;
            if(action == 'raise') {
                amount = prompt('how much?');
            } else if(action === 'call') {
                amount = .2;
            }
            socket.emit('first_act', {
                action,
                amount,
                user,
                position: playerPosition
            })
        }
    })
    socket.on('first_round', function(data) {
        user = chipCount(data);
        console.log(user)
        console.log(data);
        var amount = 0;
        if(playerPosition === data.nextPosition){
            var action = prompt(`Highest bet is ${data.highestBet}. Pot size is ${data.pot}. call, fold, or raise?`)
            if(action == 'raise') {
                amount = prompt('how much?');
            } else if (action === 'call') {
                amount = data.highestBet;
            }
            socket.emit('first_act', {
                action,
                amount,
                user,
                position: playerPosition
            })
        }
    })




    function chipCount(data) {
        for(let item of data.players) {
            if(item.name === user.name) {
                user = item;
            }
        }
        return user;
    }
})
</script>
</head>
<body>
    <div class="error"></div>
    <div class = "container">
        <form id = "start_action">
            <input type="submit" value = "Start" name="">
        </form>
        <p>Conversation Board</p>
        <div id = "message_board">
        </div>
        <form id = "new_message">
            <input type="text" id = "message" placeholder = "Enter Your Message">
            <input type="submit" value = "submit" name="">
        </form>
    </div>
</body>
</html>